<!-- app.component.html -->
<mat-toolbar>
  <span>{{ title }}</span>
</mat-toolbar>

<!-- Spinner Overlay -->
<div *ngIf="loading" class="spinner-overlay">
  <mat-spinner></mat-spinner>
</div>

<div class="container">
  <!-- Navigation -->
  <mat-tab-group>
    <mat-tab>
      <ng-template matTabLabel>
        <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template matTabLabel>
        <a mat-button routerLink="/education" routerLinkActive="active-link">Education</a>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template matTabLabel>
        <a mat-button routerLink="/skills" routerLinkActive="active-link">Skills</a>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template matTabLabel>
        <a mat-button routerLink="/projects" routerLinkActive="active-link">Projects</a>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template matTabLabel>
        <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <!-- Content Rendering -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
